<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ailyan.tvReplay">
    <uses-permission android:name="android.permission.INTERNET"/>

        <application
        android:name="com.ailyan.tvReplay.utils.Helper"
        android:allowBackup="true"
        android:icon="@drawable/tva"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.LiveFlix">

        <activity
            android:name="com.ailyan.tvReplay.ui.MainActivity"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ailyan.tvReplay.ui.PlayerActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"/>
    </application>
</manifest>